<!DOCTYPE html>
<html>
<head>
    <title>Lourdes and Bertha's Light-weight Repository</title>
    <link rel="stylesheet" href="/css/site.css">
</head>
<body>
<header>
<h1>LaBLR - Lourdes and Betha's Light-weight Repository</h1>
</header>

<nav>
{{ .nav }}
</nav>

<section>
{{ .content }}
</section>

<footer>
<span><h1><A href="https://github.com/rsdoiel/lablr">LaBLR</a></h1></span>
<span>&copy; 2019 <a href="https://rsdoiel.github.io">R. S. Doiel</a></span>
</footer>
</body>
</html>
